.canvas-container {
  height: 53vh;
}

.chartSegments ion-label {
  font-size: 2.2vw;
}

@media (min-width: 450px) {
  .chartSegments ion-label {
    font-size: 10px;
  }
}

.Segment {
  max-width: min-content;
}

.chartSegments ion-datetime {
  max-width: min-content;
  padding: 5px;
  border-bottom: #ccc 1px solid;
}
/* @media (min-height:700px ){
    .canvas-container {
        height: 44vh;
      }
    
}

 */
