.ListaConfiguracion ion-select {
  min-width: fit-content;
}

.ListaConfiguracion ion-col ion-button {
  min-width: fit-content;
  margin-top: 20px;
}

.ListaConfiguracion ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListaConfiguracion {
  margin-top: 30px;
}
